@CHARSET "utf-8";

.d-single {width: 800px; height: 64px; font-family: Helvetica, Arial, sans-serif; font-size: 30px; color: #F9FFFD; background-color: #000; position: relative; overflow: hidden; margin: 0 auto;}
.d-single span {position: absolute; left: 64px; top: 50px; opacity: 0; -webkit-font-smoothing: antialiased;}

.d-simul {width: 500px; height: 64px; padding-left: 120px; font-family: Helvetica, Arial, sans-serif; font-size: 50px; color: #F9FFFD; background-color: #000; text-shadow: 0 0 40px #BEE3C4, 0 0 40px #BEE3C4; position: relative; overflow: hidden; margin: 0 auto;}
.d-simul span {width: 40px; opacity: 1; position: relative; display: inline-block; float: left; text-align: center; -webkit-font-smoothing: antialiased;}

.d-seq {width: 800px; height: 64px; font-family: Helvetica, Arial, sans-serif; font-size: 26px; color: #F9FFFD; background-color: #000; text-shadow: 0 0 40px #BEE3C4; position: relative; overflow: hidden; text-align: center; margin: 0 auto;}
.d-seq span, .d-seq div {width: 100%; opacity: 0; font-size: 40px; -webkit-font-smoothing: antialiased; position: absolute; top: 6px; left: 0; visibility: hidden;}

.d-btn {height: 26px; margin: 8px 8px 0 0;}
.d-control {text-align: center; margin: 8px 0;}
