@CHARSET "utf-8";

body {margin: 0 10px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;}
textarea {border: 1px solid #b5b5b5; border-radius: 4px; padding: 2px 4px; font-size: 12px; resize: none;}
input {margin: 0; padding: 2px 4px;}
select {margin: 0; border: 1px solid #b5b5b5; border-radius: 4px; padding: 2px 4px;}

/* Anim */
.anim-canvas {width: 960px; height: 480px; margin: 0px auto; background: url(bg.jpg) no-repeat 0 0; border-radius: 4px; position: relative; overflow: hidden;}
.mask {width: 960px; height: 480px; left: 0; top: 0; position: absolute;}

.logo {padding: 10px 12px; right: 0; top: 0; color: #FFF; font-size: 22px; position: absolute; letter-spacing: 2px; text-decoration: none; white-space: nowrap; -webkit-font-smoothing: antialiased; opacity: 0;}
.logo:hover {text-decoration: none;}

.shark {width: 200px; height: 50px; left: -200px; top: 16px; background: url(shark.png) no-repeat 0 0; background: none\9; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src='shark.png'); position: absolute;}
.fishes {width: 318px; height: 135px; right: -318px; top: 178px; background: url(fishes.png) no-repeat 0 0; _background: none; position: absolute;}
.small-fish {/*width: 110px; height: 56px;*/ right: -190px; top: 136px; background: url(small-fish.png) no-repeat 0 0; background-size: cover; background: none\9; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src='small-fish.png'); position: absolute;}
.mid-fish {/*width: 240px; height: 179px;*/ right: -325px; top: 90px; background: url(mid-fish.png) no-repeat 0 0; background-size: cover; background: none\9; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src='mid-fish.png'); position: absolute;}
.big-fish {/*width: 300px; height: 214px;*/ right: -488px; top: 186px; background: url(big-fish.png) no-repeat 0 0; background-size: cover; background: none\9; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src='big-fish.png'); position: absolute;}

.misc {padding: 10px 12px; right: 0; bottom: 0; color: #B2B2B2; font-size: 14px; position: absolute; white-space: nowrap; cursor: default;}
.misc span {padding: 0 1px; float: left; -webkit-font-smoothing: antialiased;}

.shadow {width: 960px; height: 60px; margin: -35px auto 0 auto; background: url(shadow.png) no-repeat 0 -2px; background-size: cover; background: none\9; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src='shadow.png');}

/* Editor */
.anim-editor {width: 958px; margin: 0 auto; color: #333; border: 1px solid #b5b5b5; border-radius: 4px; white-space: nowrap; overflow: hidden; position: relative;}

.editor-title, .editor-content {width: 958px; display: inline-block; float: left; clear: both;}
.editor-content {border-top: 1px solid #b5b5b5; background: #FFF; cursor: pointer;}
.editor-content:hover {background-color: #F1EAEA;}
.editor-content:hover .layer {background-color: #F1EAEA;}
.layer {width: 108px; height: 14px; padding: 2px 5px; border-right: 1px solid #b5b5b5; background-color: #fefefe; float: left; display: inline-block;}
.scale {width: 839px; height: 14px; padding: 2px 0; float: left; display: inline-block; background: url(layer-bg.png) repeat-x 0 0; position: relative;}
.editor-content-selected {background-color: #eef !important;}
.editor-content-selected .layer {background-color: #D6D6D6 !important;}
.editor-title .layer {border-width: 0; background-color: #D6D6D6; }
.editor-title .scale {width: 840px; border-width: 0; background: #D6D6D6 url(layer-scale.png) repeat-x 0 bottom; white-space: nowrap;}
.editor-pointer {width: 0px; height: 200px; left: 118px; top: 0; border-left: 1px solid #b90000; overflow: hidden; font-size: 0; position: absolute; overflow: hidden;}
.scale-unit {width: 150px; letter-spacing: -1px; display: inline-block; text-align: left; float: left;}
.scale-unit-last {width: 86px;}
.layer-icon {width: 14px; height: 14px; margin: 0 3px -3px 0;}
.anim-group-member .layer {padding-left: 36px; width: 77px;}

.anim-layer {width: 0; height: 10px; left: 0; top: 4px; line-height: 10px; background-color: #ccc; border-radius: 6px; position: absolute; display: inline-block; text-align: center;}
.editor-content-selected .anim-layer {background-color: #E80 !important;}
.anim-group .anim-layer {height: 5px; background-color: #999; border-radius: 2px 2px 0 0;}
.layer-point {width: 8px; height: 8px; top: 1px; /*background-color: #888;*/ border-radius: 6px; display: inline-block; position: absolute; font-size: 0;}
.layer-point-begin {left: 0;}
.layer-point-end {right: 0;}
.layer-duration {top: -2px; *top: 0; color: #707070; display: inline-block; position: relative; cursor: pointer;}
.editor-content-selected .layer-duration {color: #FFF;}
.anim-group .layer-point {width: 0; height: 0; top: 5px; border-width: 7px 4px; *border-width: 0; border-style: solid; border-radius: 0; background-color: transparent;}
.anim-group .layer-point-begin {border-color:#999 transparent transparent transparent;}
.anim-group .layer-point-end {border-color:#999 transparent transparent transparent;}

.property-editor {width: 950px; padding: 4px; margin: 8px auto 10px auto; background-color: #D6D6D6; border: 1px solid #b5b5b5; border-radius: 4px; overflow: hidden; position: relative;}
.property-editor ul {display: inline-block; padding: 0; margin: 0;}
.property-editor li {padding: 6px 4px; list-style: none; float: left; white-space: nowrap;}
.property-editor select {width: 140px;}
.prop-name {width: 80px; line-height: 22px; display: inline-block;}
.prop-column-left {clear: both;}
.prop-column-right {margin-left: 30px;}
.prop-from, .prop-to, .prop-degrade {width: 346px; height: 80px;}
.prop-delay, .prop-duration, .prop-repeat, .prop-repeatDelay {width: 110px; border: 1px solid #b5b5b5; border-radius: 4px;}
.prop-duration, .prop-repeat, .prop-repeat-delay {width: 114px;}
.prop-easing {width: 140px;}
.property-editor .prop-overwrite {width: 60px;}
.prop-disabled {color: #808080;}

.actions {right: 14px; bottom: 80px; position: absolute;}
.actions button {padding: 3px 6px 3px 22px; margin-left: 20px; border: 1px solid #808080; border-radius: 4px; background-color: #FFF;}
.actions .action-pressed {background-color: #e6e6e6; border: 1px solid #404040; border-radius: 4px;}
.btn-play {background: url(play.png) no-repeat 2px 2px;}
.btn-pause {background: url(pause.png) no-repeat 2px 2px;}
.btn-replay {background: url(replay.png) no-repeat 2px 2px;}
.btn-stop {background: url(stop.png) no-repeat 2px 2px;}
